a:link { /* Color of Hyperlinks*/
	color: white;
}

 a:visited {/* Color of Hyperlinks after you visit it*/
	color: white;
}

h1{
		font-family: monospace;
		font-size: 45px;
		text-align: center;
}

body {
  background: url("earth from above.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.white-text{
	color:white;
}

p {
	text-indent: 20px;
}

.container {
	text-align: left;
	padding-left: 2px;
}

li{
	color:white;
}
